 *{
    margin: 0;
} 
div{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;

}
.naviicons i {
    color: #fff;
    cursor: pointer;

}
.naviicons i:hover{
    background-color: #fff;
    color: black;
}
